<html>
   <head>
       <title> Welcome to Index page</title>
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
   </head>
   <body>
       <div class="container">
           <div class="jumbotron">
               <h1>Welcome to the forms tutorial</h1>
               <h2>Goto /userforms for more details </h2>
           </div>
        </div> 
   </body>
</html>